<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758445440171-k6kucagj55ja31pdcr1vj8mkp279aemf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758445440171-k6kucagj55ja31pdcr1vj8mkp279aemf</string>
	<key>API_KEY</key>
	<string>AIzaSyDw8cC0dwMtXFuKnvp8uDlvYH1csLWqhdE</string>
	<key>GCM_SENDER_ID</key>
	<string>758445440171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipesApp</string>
	<key>PROJECT_ID</key>
	<string>recipes-app-b8651</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-app-b8651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758445440171:ios:7acf449d7d75f6c0ef8bee</string>
</dict>
</plist>